<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-12 text-center mt-5">
      <% if @diary.image_url.present? %>
        <img src="<%= @diary.image_url %>" class="rounded-circle" width="300" height="300">
      <% end %>
    </div>

    <div class="col-md-6 text-center mt-5">
      <h2 class="mb-4 mt-4">Your Original Diary</h2>
      <div class="border p-4 shadow">
      <%= form_with(model: @diary, local: true, id: 'correct-form') do |form| %>
          <div class="mb-3 text-start">
            <label for="diary_title" class="form-label"><strong>Title:</strong></label>
            <%= form.text_field :title, class: "form-control"%>
          </div>

          <div class="mb-3 text-start">
            <label for="diary_body" class="form-label"><strong>Diary:</strong></label>
            <%= form.text_area :body, rows: 5, class: "form-control"%>
          </div>

          <div class="mb-3 text-start">
            <label for="diary_keyword" class="form-label"><strong>Keyword:</strong></label>
            <%= form.text_area :keyword, class: "form-control"%>
          </div>

          <div class="d-flex justify-content-between">
            <%= form.submit "Update", id: 'correct-button', class: "btn btn-primary w-45", data: { turbo: false } %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-6 text-center mt-5">
      <h2 class="mb-4 mt-4">Corrected Diary</h2>
      <div class="border p-4 shadow" id="correction-result">
        <% if @diary.corrected_body.present? %>
          <p><%= @diary.corrected_body %></p>
        <% else %>
          <p>No Correction yet</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
