<% content_for(:title, t(".title")) %>
<div class="col-md-12 ml-sm-auto px-4 mt-5 main-content">
  <h1 class="diaries-title fst-italic"><%= t('diary.title') %></h1>
  <div class="diaries-body fst-italic">
    <%= form_with model: @diary, data: { turbo: true } do |form| %>
      <%= render "layouts/error_messages", model: form.object %>
      <div class="mb-3">
      <%= form.label :title, "Title", class: "form-label" %>
        <%= form.text_field :title, class: "form-control", placeholder: "タイトルを入力..." %>
      </div>
      <div class="mb-3">
      <%= form.label :body, "Your diary (50-2000letters)", class: "form-label" %>
      <%= form.text_area :body, rows: 10, class: "form-control", placeholder: "ここに英文を入力..." %>
      </div>
      <div class="mb-3">
        <%= form.label :keyword, "Keyword", class: "form-label" %>
        <%= form.text_area :keyword, rows: 2, class: "form-control", placeholder: "キーワードを入力..." %>
      </div>
      <%= form.submit "Create", class: "btn btn-primary" %>
    <% end %>
  </div>

  <%= link_to 'Back', diaries_path, class: "btn btn-secondary mt-5" %>
</div>
