<div class="text-center" style="padding:50px 0">
  <div class="logo">Register</div>
  <div class="login-form-1">
    <%= form_with model: @user, url: users_path, local: true, class: 'text-left', id: 'register-form' do |form| %>
      <div class="login-form-main-message"></div>
      <div class="main-login-form">
        <div class="login-group">
          <div class="form-group">
            <%= form.label :email, class: 'sr-only' %>
            <%= form.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.label :password, class: 'sr-only' %>
            <%= form.password_field :password, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.label :password_confirmation, class: 'sr-only' %>
            <%= form.password_field :password_confirmation, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= form.label :name, class: 'sr-only' %>
            <%= form.text_field :name, class: 'form-control' %>
          </div>  
        </div>
        <%= form.submit 'submit'.html_safe, class: 'login-button' %>
      </div>
      <div class="etc-login-form">
        <p>already have an account? <a href="<%= login_path %>">login here</a></p>
      </div>
    <% end %>
  </div>
</div>